@import "../app.component.scss";

    mat-toolbar {
    background-color: hsl(214, 96%, 74%);;
    color: $branco;

    .container{
        width: 1140px;
       display: flex;
       margin: auto; //centralizar 
        h1 {
            
            font-size: $grande;
            color: $branco;
            padding-top: 15px;
            cursor: pointer; 
        }
        .menu-spacer {
            flex: 2 3 auto;
        }
        nav{
            margin-right: 90px;
            margin-top: 10px;
        }
        
        
        }
    }
 
    .seja{
       background-color: #004AAD;
    }
    
    
     h2 {
         
         font-size: $media;
         color: $branco;
         height: 80px;
         padding-top: 12px;
         cursor: pointer; 
         text-align: center;
}

