 
<mat-toolbar>
  
  <div class="container">
   <h1>Pet Aquino</h1>
  <span class="menu-spacer"></span>

    <div class="texto-menu">
   <button mat-button routerLink="/">Home</button>
   <button mat-button routerLink= "produtos">Produtos</button>
   <button mat-button routerLink= "quem-somos">Quem Somos</button>
   <button mat-button routerLink="contato">Contato</button>
   
  </div>
  </div>

 </mat-toolbar>
 
 <div class="seja">
 <h2> Seja bem-vindo à Pet Aquino! <br> Aqui você encontra promoção de sobra para mimar seu companheiro peludo.</h2>
</div>
 
 