@import "../app.component.scss";

    mat-toolbar {
    background-color: hsl(214, 96%, 74%);;
    color: $branco;

    .container{
        width: 1140px;
       display: flex;
       margin: auto; //centralizar 
        h1 {
            
            font-size: $grande;
            color: $branco;
            padding-top: 20px;
            cursor: pointer; 
        }
        .menu-spacer {
            flex: 1 1 auto;
        }
        nav{
            margin-right: 200px;
            margin-top: 10px;
        }
        
        
        }
    }
