<div class="botoes-controle">
  <button *ngFor="let imagem of imagens; index as i"[class.ativo]="i === indexImagemAtiva"(click)="pararTimer(); ativarImagem(i)"></button></div>
<img *ngFor="let imagem of imagens" [src]="imagem" width="1" height="1" style="opacity: 0; position: fixed"/>

<main>
    <div class="container">
      <section id="produtos">
        <h2>Os Queridinhos dos Pet:</h2>
        <mat-grid-list cols="3" rowHeight="3:4">
          <!-- FAVORITOS -->
          <div *ngFor="let produto of produtos; let i = index">
            <mat-grid-tile *ngIf="produto.favorito">
              <mat-card>
                <img mat-card-image [src]="produto.foto" [alt]="produto.titulo" />
                <mat-card-content>
                  <h3>{{ produto.titulo }}</h3>
                  <ul>
                
                    <li class="preco">{{ "R$ " + produto.preco }}</li>
                  </ul>
                </mat-card-content>
                <mat-card-actions>
                  <button
                    [class]="produto.favorito ? 'favorite-checked' : 'favorite'"
                    [title]="produto.favorito ? 'Remover dos favoritos' : 'Adicionar aos favoritos'"
                    mat-button
                    (click)="toggleFavorito(i)"
                  >
                    <mat-icon aria-hidden="false" aria-label="Favoritos" fontIcon="favorite"></mat-icon>
                  </button>
                  <button mat-button (click)="verDetalhes(produto.id)">Mais detalhes</button>
                </mat-card-actions>
              </mat-card>
            </mat-grid-tile>
          </div>
        </mat-grid-list>
      </section>
      <!-- Rest of the template content -->
    </div>
  </main>
  