<div class="container1">
    <h1> Olá {{ nome + " " + sobrenome }}!</h1>
    <!-- <h2>{{ data | date : 'dd    /MM/YYYY' }}</h2> -->
    <section id="produtos-favoritos">
        <h2>Só aqui você encontra melhores produtos para seu pet:</h2>
        <mat-grid-list cols="3" rowHeight="3:4">
            <div *ngFor="let produtos of produtos; let i = index">
                <mat-grid-tile *ngIf="produto.favorito">
                    <mat-card>
                        <img mat-card-image [src]="produto.foto" [alt]="produto.titulo" />
                        <mat-card-content>
                            <h3>{{ produto.titulo }}</h3>
                            <ul>
                                <li>sabor: {{ produto.sabor }}</li>
                                <li>kg: {{ produto.kg }} </li>
                                <li>Preço: {{ produto.preco | currency }}</li>
                            </ul>
                        </mat-card-content>
                        <mat-card-actions>
                            <button
                                [class]="produto.favorito === false ? 'favorite' : 'favorite-checked'"
                                [title]="produto.favorito === false ? 'Adicionar aos favoritos' : 'Remover dos favoritos'"
                                mat-button
                                (click)="toogleFavorito(i)">
                            <mat-icon aria-hidden="false" aria-label="Favoritos" fontIcon="favorite"></mat-icon>
                        </button> 
                            <button mat-button (click)="verDetalhes(produto.id)">Mais detalhes</button>
                        </mat-card-actions>
                    </mat-card>
                </mat-grid-tile>
            </div>
        </mat-grid-list>
    </section>
    <section id="lista-imoveis">
        <h2>Todos os produtos:</h2>
        <mat-grid-list cols="3" rowHeight="3:4">
            <mat-grid-tile *ngFor="let produto of produtos; let i = index">
                <mat-card>
                    <img mat-card-image [src]="produto.foto" [alt]="produto.titulo" />
                    <mat-card-content>
                        <h3>{{ produto.titulo }}</h3>
                        <ul>
                            <li>sabor: {{ produto.sabor }}</li>
                            <li>kg: {{ produto.kg }} </li>
                            <li>Preço: {{ produto.preco | currency }}</li>
                        </ul>
                    </mat-card-content>
                    <mat-card-actions>
                        <button
                            [class]="produto.favorito === false ? 'favorite' : 'favorite-checked'"
                            [title]="produto.favorito === false ? 'Adicionar aos favoritos' : 'Remover dos favoritos'"
                            mat-button
                            (click)="toogleFavorito(i)">
                            <mat-icon aria-hidden="false" aria-label="Favoritos" fontIcon="favorite"></mat-icon>
                        </button> 
                        <button mat-button (click)="verDetalhes(produtos.id)">Mais detalhes</button>
                    </mat-card-actions>
                </mat-card>
            </mat-grid-tile>
        </mat-grid-list>
    </section>
</div>
<router-outlet></router-outlet>