.item {
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    transition: all 0.5s ease-in-out;
  }
  
  .botoes-controle {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 8px;
  }
  
  .botoes-controle button {
    background: #ccc;
    border: none;
    border-radius: 30%;
    cursor: pointer;
    height: 9px;
    width: 9px;
  }
  
  .botoes-controle button.ativo {
    background: #00a2ff;
    cursor: default;
  }
