@import "../app.component.scss";

.produto {
    background-color: $preto;
}
.container{
    width: 1140px;
    display: block;
    margin: auto;
    padding-top: 30px;
    min-height: calc(100vh - 234px);
    h2{
        padding: 50px 0px 10px 0px;
        font-family: $fonte-secundaria;
        font-size: $extra-grande;
        color: $cor-secundaria;
        text-align: center;
        padding-bottom: 30px;
    }
    .visao-empresa {
        display: flex;
        gap: 30px;
        img{
            margin-bottom: 30px;
            border: 1px solid $preto;
            border-radius: 30px;
            box-shadow: $card-shadow;
            transition: $card-transition;
            &:hover {
            box-shadow: $card-shadow-hover;
            } 
        }
        .fred{
            width: 590px;
            height: 590px;
            margin-top: 120px;
        }
        .descricao{
            width: 100%;
            p{
                padding-left: 25px;
                text-align: center;
                color: $branco;
            }
            .compre{
                
                color: $preto;
                margin-top: 35px;
                margin-left: 50px;
                padding: 20px;
                width: 80%;
                border: 1px solid $preto;
                border-radius: 10px;
                font-weight: bold;
                background-color: $cor-secundaria ;
                &:hover{
                    background-color: $branco; 
                }
            }
            ul{
                font-family: $fonte-principal;
                color: $branco;
                font-size: $media;
                line-height: $grande;
                text-align: justify;
                padding-top: 20px;
            }
            li{
                margin-top: 5px;
                margin-bottom: 15px;
                font-family: $fonte-secundaria;
                font-size: $media;
                color: $branco;
            }
            .imagem2 {
                border: none;
                box-shadow: none;
                margin-left: 180px;
                width: 40%;
            }
        }
    }
}